/* Reset CSS - Uniformização de elementos */

/* Reset base para todos os elementos */
#paragraph * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    border: none;
    font-size: inherit;
    line-height: 1.5;
}

/* Elementos de bloco */
#paragraph > html,#paragraph > body,#paragraph >  div,#paragraph >  header,#paragraph >  nav,#paragraph > main,#paragraph >  section, #paragraph > article, #paragraph > 
aside,#paragraph >  footer,#paragraph > form,#paragraph > fieldset,#paragraph >  legend,#paragraph >  figcaption {
    width: 100%;
    font-size: inherit;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Elementos de texto */
#paragraph > h1,#paragraph >  h2,#paragraph >  br,#paragraph >  h3,#paragraph >  h4,#paragraph >  h5,#paragraph >  h6,#paragraph >  p,#paragraph >  span,#paragraph >  a,#paragraph >  strong,#paragraph >  em,#paragraph >  
small,#paragraph >  b,#paragraph >  i,#paragraph >  u,#paragraph >  strike,#paragraph >  sub, sup,#paragraph >  time {
    font-size: inherit;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    margin-block-start: 0;
    margin-block-end: 0;
}
#paragraph > h1,#paragraph >  h2,#paragraph >  h3,#paragraph >  h4,#paragraph >  h5,#paragraph >  h6 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-size: inherit;
}
/* Listas */
#paragraph > ul,#paragraph >  ol,#paragraph >  li,#paragraph >  dl,#paragraph >  dt,#paragraph >  dd {
    font-size: inherit;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Tabelas */
#paragraph > table,#paragraph >  caption,#paragraph >  tbody,#paragraph >  tfoot,#paragraph >  thead,#paragraph >  tr,#paragraph > th,#paragraph >  td {
    font-size: inherit;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

/* Formulários */
/* input, textarea, select, button, option, label {
    font-size: inherit;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: inherit;
} */

/* Elementos multimídia */
/* img, video, audio, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
} */

/* Outros elementos */
#paragraph > #paragraph > figure,#paragraph > #paragraph >  pre,#paragraph > #paragraph >  code,#paragraph > #paragraph >  blockquote,#paragraph > #paragraph >  q {
    font-size: inherit;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
#paragraph > pre {
    font-size: inherit;
    background-color: #f6f8fa;
    border-radius: 3px;
    overflow: auto;
    margin: 0;
    padding: 0;
}