.file_conteiner {
    width: 75%;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #fileInput {
    display: none; /* Oculta o input de arquivo */
   
  }
  
  #dropZone {
    margin-top: 15px;
    padding: 30px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    color: #555;
    background-color: #fafafa;
    cursor: pointer;
  }
  
  #dropZone.hover {
    background-color: #e0e0e0;
    border-color: #333;
  }
  @media (max-width: 768px) {
    .file_conteiner {
      width: 70%;
      margin: 0 10%;
      margin-top: 0px;

      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

  }
  