<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>
  *{
    margin: 0;
    padding: 0;}
  body {
    width: 90vw;
     height: 90vh;
      
    }
    div {
      width: 200px;
      height: 200px;
      position: relative;
      left: 50%;
      top: 50%;
      top: 50%;
      transform: translation(-50%,-50%);
    }
    button {
      width: 80px;
      height: 60px;
      text-shadow: 0 0 4px black;
      background: green;
      font-size: 20px;
      color: white;
      border-radius: 20px;
      font-weight: bold;
    }
  </style>
  
  <!--  mini game estilo a cobrinha-->
  <div>
    <button>
      verify
    </button>
  </div>
</body>
</html>