<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title translate="no">LitBookMark</title>
          <!-- <link rel="stylesheet" href="/css/style.css" /> -->
          <link rel="stylesheet" href="/css/profile.css" />
     </head>
     <body>
          <header>
               <div id="background"></div>
               <div id="image">
                    <img
                         src="/img/social-media-profile.svg"
                         alt="profile"
                         height="300px"
                    />
                    <button>mudar foto</button>
                    <button>remover foto</button>
               </div>
          </header>
          <main>
               <h1 ><strong>username:</strong> <span id="|name">Gabriel</span></h1>
               <h1 i>genero:  <span id="genero"></span></h1>
               <h1 >email: <span id="email"></span></h1>
               <h1 >idioma:</h1>
               <h1 >plano: <span id="plano"><a href="">base</a></span></h1>
          </main>
     </body>
</html>
